# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM64/
[Aa]pp[Pp]ackages/
*.pfx
*.appx
*.msix
*.log
TestResults/

# Scripts Python das ferramentas
__pycache__/
